:root {
  --orange: #ff7e5f;
  --yellow: #F4B400;
  --sec-bg: #1d1d1d;
  --grey-text: #ccc0c0;
}

.error-page {
  color: orange;
  width: 100%;
  min-height: 50vh;
  margin: auto;
  padding: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center !important;
}

.error-page div p {
  text-align: center !important;
}
