:root {
  --orange: #ff7e5f;
  --yellow: #F4B400;
  --sec-bg: #1d1d1d;
  --grey-text: #ccc0c0;
}


.experience-comp {
  width: 90%;
  margin-inline: auto;
  margin-bottom: 50px;
  color: white;
  background-color: rgba(255, 255, 255, 0.05) !important;
  backdrop-filter: blur(50px) saturate(150%) !important;
  padding: 50px 40px;
  border-radius: 40px;
}

.exp-comp-head {
  text-align: center;
  margin-bottom: 30px;
  width: 70%;
  margin-inline: auto;
}

.exp-comp-head p {
  color: var(--grey-text);
  text-align: center !important;
}


/* ---------------------------- */


@media (max-width: 767px) {

  .experience-comp {
    width: 98%;
    border-radius: 12px;
    padding: 30px 20px;
  }

  .exp-comp-head {
    width: 100%;
  }

}