:root {
  --orange: #ff7e5f;
  --yellow: #F4B400;
  --sec-bg: #1d1d1d;
  --grey-text: #ccc0c0;
}

.new-project {
  width: 90%;
  max-width: 700px !important;
  margin: 20px auto;
  background-color: var(--sec-bg);
  padding: 20px 10px;
  border-radius: 12px;
  color: white;
}

.call-form {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.call-form h2 {
  text-align: center;
}

.call-form p {
  text-align: center !important;
  color: var(--grey-text);
}

.special-input {
  display: flex !important;
  align-items: center;
  justify-content: space-between !important;
}

.special-input button {
  padding: 1px 10px;
  background-color: green;
  color: white;
  font-weight: 600;
  font-size: 20px;
}

.one-input {
  width: 80%;
  margin: 30px auto;
}

.one-input label {
  display: block;
  margin-bottom: 8px;
}

.one-input input {
  display: block;
  width: 100%;
  border: 2px solid var(--orange);
  background-color: transparent;
  color: white !important;
  padding: 10px;
  border-radius: 8px;
}

.form-submit {
  padding: 8px 25px;
  color: white;
  background-color: black;
  border: 2px solid var(--orange);
  display: block;
  margin: 20px auto;
  border-radius: 10px;
  cursor: pointer;
}

.one-input textarea {
  display: block;
  width: 100%;
  min-height: 100px;
  border: 2px solid var(--orange);
  background-color: transparent;
  color: white;
  border-radius: 8px;
  padding: 8px;
}

.form-submit {
  display: flex;
  align-items: center !important;
}

.sent-error {
  color: red;
  font-size: 40px;
}

@media (max-width: 600px) {
  .one-input {
    width: 100%;
  }
}