:root {
  --orange: #ff7e5f;
  --yellow: #F4B400;
  --sec-bg: #1d1d1d;
  --grey-text: #ccc0c0;
}


.one-education {
  width: 100%;
  color: white;
  margin-bottom: 25px;
  display: flex;
  gap: 8px;
  align-items: first baseline;
}

.oe-dot {
  width: 12px;
  height: 12px;
  border: 3px solid greenyellow;
  border-radius: 100%;
  margin-bottom: -15px !important;
}

.oe-text {
  text-align: start !important;
}

.oe-text p {
  color: var(--grey-text);
  text-align: start;
}

.oe-text p:nth-of-type(1) {
  margin-bottom: 8px;
}