
:root {
  --orange: #ff7e5f;
  --yellow: #F4B400;
  --sec-bg: #1d1d1d;
  --grey-text: #ccc0c0;
}

.one-project-page {
  width: 90%;
  margin: 20px auto;
  color: var(--grey-text);
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.one-project-page .top-level img {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
  object-position: top;
  margin: 20px auto;
  margin-bottom: 30px;
  border-radius: 10px;
  border: 2px solid var(--sec-bg);
}

.text-part {
  
}