.one-work-card {
  border: 1px solid #909090 !important;
  padding: 10px;
  border-radius: 12px;
  /* max-width: 500px; */
  /* min-width: 300px; */
  width: 95%;
  margin-inline: auto;
  cursor: pointer;
}

.owc-img {
  border-radius: 12px;
  width: 100% !important;
  height: 250px;
  /* border: 2px solid green; */
}

.owc-img img {
  width: 100% !important;
  height: 100%;
  object-fit: cover !important;
  object-position: top !important;
  border-radius: inherit;
}

.owc-text {
  display: flex;
  justify-content: space-between !important;
  align-items: start;
  margin: 15px 0;
}

.owc-text > div {
  width: 100% !important;
}

.owc-text div p:nth-of-type(1) {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.owc-text div p:nth-of-type(1) span {
  color: white;
}

.owc-text div p:nth-of-type(2) {
  color: #909090;
}

.owc-text div span {
  color: #909090;
  font-size: 16px;
  margin: 0;
  display: inline-block;
}

.owc-text div i {
  font-size: 20px;
}