.picture-gallery {
  width: 90% !important;
  margin: 30px auto;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.05) !important;
  backdrop-filter: blur(50px) saturate(150%) !important;
  padding: 20px;
  border-radius: 20px;
}

.pg-head {
  color: white;
}

.pg-body {
  height: 400px;
  display: flex;
  justify-content: space-evenly;
}


.one-image {
  /* width: 400px; */
  height: 100%;
  margin: 0 auto;
  border-radius: 15px;

  /* animation: track-one-up infinite linear 5s; */
}


@keyframes scrollUp {
  25% {
    transform: translateY(100%)
  }

  50% {
    transform: translateY(-100%)
  }

  75% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(-100%);
  }
}

/* @keyframes track-one-up {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(200%);
  }
} */