:root {
  --orange: #ff7e5f;
  --yellow: #F4B400;
  --sec-bg: #1d1d1d;
  --grey-text: #ccc0c0;
}


.works-and-projects {
  width: 90%;
  margin-inline: auto;
  margin-bottom: 50px;
  color: white;
  background-color: rgba(255, 255, 255, 0.05) !important;
  backdrop-filter: blur(50px) saturate(150%) !important;
  padding: 50px 30px;
  border-radius: 40px;
}

.wap-head {
  text-align: center;
}

.wap-head p {
  width: 80%;
  margin-inline: auto;
  color: var(--grey-text);
  text-align: center !important;
}

.wap-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  margin: 40px auto;
  gap: 20px;
}

.wap-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.wap-footer > * {
  display: inline-block;
  margin: 0;
}

.wap-footer a {
  text-decoration: none;
  color: var(--orange);
}

/* ------------------------------------- */


@media (max-width: 1100px) {
  .wap-main {
    grid-template-columns: 1fr 1fr !important;
  }
}

@media (max-width: 767px) {

  .works-and-projects {
    border-radius: 15px;
    padding-inline: 22px;
    width: 98%;
    padding: 30px 20px;
  }

  .wap-head p {
    width: 100%;
    margin-inline: auto;
    text-align: center !important;
    color: var();
  }

  .wap-main {
    grid-template-columns: 1fr !important;
  }

}


