
:root {
  --orange: #ff7e5f;
  --yellow: #F4B400;
  --sec-bg: #1d1d1d;
  --grey-text: #ccc0c0;
}


.home-section-two {
  width: 90%;
  margin-inline: auto;
  margin-bottom: 50px;
  color: white;
  background-color: #1d1d1d;
  padding: 50px 30px;
  border-radius: 40px;
}

.h-s2-head {
  text-align: center;
}

.h-s2-head p {
  width: 80%;
  margin-inline: auto;
  color: var(--grey-text);
}

.h-s2-main {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  display: flex;
  justify-content: center;
  margin: 40px auto;
  gap: 20px;
}

.h-s2-main > div {
  min-width: 300px;
}


.h-s2-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.h-s2-footer > * {
  display: inline-block;
  margin: 0;
}

.h-s2-footer a {
  text-decoration: none;
  color: var(--orange);
}

/* ------------------------------------- */



@media (max-width: 767px) {

  .home-section-two {
    border-radius: 15px;
    padding-inline: 22px;
    width: 98%;
    padding: 30px 20px;
  }

  .h-s2-head p {
    width: 100%;
    margin-inline: auto;
    text-align: center !important;
    color: var();
  }

  .h-s2-main {
    /* grid-template-columns: 1fr !important; */
    flex-wrap: wrap;

  }

}


