:root {
  --orange: #ff7e5f;
  --yellow: #F4B400;
  --sec-bg: #1d1d1d;
  --grey-text: #ccc0c0;
}

.whole-app {
  /* background-color: white; */
}

.glow {
  width: 10px;
  height: 10px;
  background-color: black;

  position: fixed;
  z-index: 0;
  left: 20px;
  top: 230px;
  /* background-color: var(--orange); */

  box-shadow: 100px 20px 70px 20px #ff7e5f;
  border-radius: 100%;
  animation: glow infinite 4s;
}


@keyframes glow {
  /* 25% {
    width: 5px;
    height: 5px;
  } */

  50% {
    width: 0px;
    height: 0px;
  }

  /* 75% {
    width: 5px;
    height: 5px;
  } */

  100% {
    width: 10px;
    height: 10px;
  }
}
